{% extends "base.html" %}

{% block custom_css %}
    /* Japanese Specific Styling */
    .jp-word { color: var(--accent); font-size: 2.5rem; }
    .reading { color: #888; font-size: 1.2rem; margin-bottom: 15px;}
    .sentence { font-style:italic; color:#aaa; line-height: 1.4; }
    .sentence b { color: var(--success); font-weight: bold; } 
    .hint { color: #888; font-size: 1.2rem; margin-bottom: 30px; }
{% endblock %}

{% block question_area %}
    <div class="hint">{{ card['part_of_speech'] }}</div>
    <h1>{{ card['EN'] }}</h1>
{% endblock %}

{% block answer_area %}
    <div class="jp-word">{{ card['JP'] }}</div>
    <div class="reading">{{ card['JP_reading'] }}</div>
    
    <div class="sentence">{{ card['JP_sentence'] | safe }}</div>
    
    {% if card['JP_media'] %}
        <audio id="audio-player" src="/media/{{ card['JP_media'] }}"></audio>
    {% endif %}

    <script>
        // We define what counts as a correct answer here
        window.validAnswers = [
            "{{ card['JP_reading'] }}", 
            "{{ card['JP'] }}"
        ];
        
        // We define what to show if the user is wrong
        window.primaryAnswer = "{{ card['JP_reading'] }}"; 
    </script>
{% endblock %}
